.wrapper {
    margin-bottom: 5rem;
}

.highlight {
    color: var(--detailPrimary);
}

.subtitle {
    color: var(--textSecondary);
    font-size: var(--fontMedium);
    margin-bottom: 1rem;
}

.body ul {
    list-style: none;
    color: var(--textPrimary);
    font-size: var(--fontSmall);
}

.body ul li:before {
    content: "▹ ";
    color: var(--detailPrimary);
}