.wrapper {
    margin-bottom: 5rem;
}

.pink {
    color: pink;
}

.title {
    color: gray;
    font-size: 50px;
    border-top: 1px solid gray;
    margin-bottom: 2rem;
}

.header {
    color: white;
    font-size: 30px;
}

.subtitle {
    color: lightgray;
    font-size: 20px;
    margin-bottom: 1rem;
}

.body ul {
    list-style: none;
    color: lightgray;
    font-size: 20px;
}

.body ul li:before {
    content: "▹ ";
    color: pink;
}