.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main {
  margin-left: 25rem;
  max-width: 70vw;
}

.intro {
  display: flex;
  align-items: center;
  height: 100vh;
}