.wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    color: white;
    font-size: 75px;
    font-weight: 400;
}

.subtitle {
    color: lightgray;
    font-size: 25px;
    max-width: 35vw;
}