.menu {
    display: none;
}

.list {
    list-style: none;
    text-align: right;
    margin-bottom: 2rem;
}

.list li {
    font-size: var(--fontSmall);
    padding: 0.5rem 1rem 0.5rem;
    border-right: 2px solid var(--detailSecondary);
    transition: all 350ms ease;
}

.list li:hover {
    border-right: 2px solid var(--detailPrimary);
}

.list a {
    color: var(--textPrimary);
    text-decoration: none;
    transition: all 250ms ease;
}

.list a:hover {
    color: var(--textHighlight);
}

.socials {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.socials a {
    color: var(--textPrimary);
    text-decoration: none;
    margin: 0.5rem;
    transition: all 250ms ease;
}

.socials a:hover {
    color: var(--textHighlight);
}

@media(max-width: 1300px) {
    .wrapper {
        width: 20vw;
    }
    
    .socials {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem
    }
}

@media(max-width: 664px) {
    .menu {
        display: block;
        position: fixed;
        left: 1rem;
        top: 1rem;
        z-index: 2;
        color: var(--textPrimary);
        transition: all 250ms ease;
    }
    
    .menu:hover, .menu:focus {
        color: var(--textHighlight);
    }

    .list li {
        border-right: none;
    }

    .list li:hover {
        border-right: none;
    }
}